h1, 
h2, 
h3,
h4, 
h5, 
h6, 
ul, 
p, 
figure {
    margin: 0;
}

body {
    margin: 0px;
    font-size: 12px;
    font-family: 'Open Sans', Aria, serif;
    color: #232323;
}

.cv-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.main-container {
    display: flex;
    flex-direction: column;
}

.main-left-section {
    padding: 0 32px;
}

.left-container {
    flex: 1 0 30%;
    padding: 32px 0;
    background-color: #1a1a1a;  
    color: #a3a3a3;
}

.right-container {
    flex-grow: 1; 
    background-color: #e5e5e5;
}

.main-left-section-foto {
    display: flex;
    width: 240px;
    margin-bottom: 32px;
    margin: 0 auto;
    padding-bottom: 0px;
    border-radius: 50%;
}

.main-left-section-name {
    margin-bottom: 12px;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffffff;
}

.main-left-section-text {
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.left-section {
    margin-top: 32px;
    padding-left: 16px;
}

.left-section-title {
    padding: 8px 0;
    border-radius: 17px 0 0 17px;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    line-height: 18px;
    letter-spacing: 2px;
    color: #232323;
    background-color: #e5e5e5;
}

.left-section-content {
    padding: 32px 32px 0 48px;
}

.contact-list {
    list-style: none;    
}

.contacts-list-item {
    display: flex;
    align-items: center;
}

.skill-list .left-section-list-item, 
.right-section-list-item {
    margin-left: 16px;
    padding-left: 16px;
}

.contacts-list-item a {
    text-decoration: none;
    color: #a3a3a3;
}

.contacts-list-item a:hover {
    text-decoration: underline;
}

.contact-icon {
    width: 16px;
    padding-right: 16px;
}

.contact-name {
    padding-right: 8px; 
}

.right-section-list {
    padding-left: 16px;
}

.left-section-list-item:not(:last-child), 
.right-section-list-item:not(:last-child) {
    margin-bottom: 12px;
}

.right-container {
    padding: 32px 16px;
}

.right-section:not(:last-child) {
    margin-bottom: 32px;
}

.right-section-title {
    margin-bottom: 24px;
    padding-bottom: 12px;
    border-bottom: 2px solid #474747 ;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #353535;
}

.right-section-text {
    line-height: 28px;
}

.right-section pre {
    background-color: #dadada;
}

.footer-container {
    background-color: #ededed;
}

.footer-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    list-style: none;
    color: #232323;
}

.rs-logo {
    height: 32px;
}

.footer-link {
    font-size: 32px;
    color: #232323;
}

.project {
    width: 200px;
    height: 105px;
    background-repeat: no-repeat;
    background-size: contain;
}

.project-one {
    background-image: url('/img/RS-LANG.jpg');
}

.project-two {
    background-image: url('/img/ART-QUIZ.jpg');
}

.project-three {
    background-image: url('/img/Momentum.jpg');
}

.project-four {
    background-image: url('/img/NEW-YEAR-game.jpg');
}

.main-container-img {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.top-container-img {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.bottom-container-img {
    display: flex;
    justify-content: space-evenly;
}

.technology-text {
    margin: 5px 0;
}

.certificate-link,
.project-link {
    text-decoration: none;
    color: #232323;
}

.rss-experience {
    margin-bottom: 15px;
}

@media (min-width: 868px) {
    .main-container {
      flex-direction: row;
    }
}

@media (min-width: 640px) {
    body,
    .main-left-section-text {
        font-size: 16px;
    }

    .main-left-section-name {
        font-size: 32px;
    }

    .left-section-title {
        font-size: 18px;
    }

    .right-section-title {
        font-size: 24px;
    }

    .right-container {
        padding: 32px 32px;
    }

    .left-container {
        padding: 32px 0;
    }

    .right-section:not(:last-child) {
        margin-bottom: 30px;
    }

    .left-section {
        margin-top: 48px;
        padding-left: 32px;
    }
    
    .right-section-list {
        padding-left: 32px;
    }
}

@media (max-width: 450px) {
    .project  {
        width: 130px;
    }

    .technology-text {
        font-size: 10px;
    }
}